<div class="form_container">
<div class="row">
<div class="col-lg-10 col-lg-offset-2 col-sm-12 col-xs-12" style="background-color:#000000;">
<section class="panel">
            <header class="panel-heading">
             <h2 class="panel-title text-center">Sign Up</h2> 
           </header>
           <div class="panel-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="row"  style="padding:5%;">
<!--   <div class="col-md-6 col-sm-12 col-xs-12">
-->  <% if resource.errors.any? %>
     <div class="alert alert-alert" >
     <%= devise_error_messages! %>
     </div>
     <% end %>
  <h2>Are you someone who sells or makes cakes?</h2>
  <div class="field">
    <%= f.check_box :seller %>  
    <%= f.label :seller, "Yes, I am" %>
  </div>

  <div class="field">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <b><%= f.label :email %></b> <br />
    <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
  </div>
  </div>

  <div class="field">
   <div class="col-md-6 col-sm-12 col-xs-12">
    <b><%= f.label :first_name %></b> 
    <%= f.text_field :first_name, :class=>"form-control" %> 
  </div>
  </div>

  <div class="field">
    <div class="col-md-6 col-sm-12 col-xs-12">
    <b><%= f.label :last_name %></b>
    <%= f.text_field :last_name, :class=>"form-control" %>    
  </div>
  </div>

  <div class="field">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <b><%= f.label :username %></b> 
    <%= f.text_field :username, :class=>"form-control" %>    
  </div>
  </div>
  <br/>

  <div class="field">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <b><%= f.label :phonenumber %></b> 
    <%= f.text_field :phonenumber,  maxlength: "10", placeholder:"024 123 4567", :class=>"form-control" %>    
  </div>
  </div>
  <br/>

  <div class="field">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <b><%= f.label :address %></b> 
    <%= f.text_field :address, , maxlength: "150", :class=>"form-control" %> 
  </div>
  </div>
  <br/>

  <div class="field">
    <b><%= f.label :image, "Upload your profile picture" %></b> <br/>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <br/>

  <div class="field">
    <b>Gender</b>
    <%= f.radio_button :gender, "male" %> Male 
    <%= f.radio_button :gender, "female" %> Female <br/>
  </div>
  <br/>
  
   <div class="field">
    <b><%= f.label :age %></b> 
    <%= f.text_field :age, maxlength: "2", :class=>"form-control" %><br/>
  </div>
  <br/>

  <div class="field">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
  </div>
  </div>

  <div class="field">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control" %>
  </div>
  </div>

  <br/>
<!--   </div>
 -->  </div>
<!-- recaptcha -->
  <div class="field">  
    <%= flash[:recaptcha_error] %>
    <%= recaptcha_tags %> 
  </div>


  <div class="text-center">
    <%= f.submit "Sign up", class: "buy_now" %>
  </div>
<% end %>
</div>
</div>
</div>
</section>
</div>
</div>
</div>




<%#= render "devise/shared/links" %>
