<div class="container-of-shops">
<% if @shops.any? %>
  <h1>Welcome! Here are our available shops you can explore</h1>
<% else %>
   <h1>No shops to explore currently.</h1>
<% end %>  
<div class="list-of-shops">
<% @shops.each do |shop| %>
<%= link_to fa_icon("pencil") + " edit", [:edit, :admin, shop.user, shop], class: "buy_now" %>
<%= link_to fa_icon("trash") + " remove", [:admin, shop.user, shop], method: :delete, data: { confirm: "Are you sure you want to remove this shop?"}, class: "buy_now" %>
<% if shop.approved? %>
  <%= link_to fa_icon("times-circle") + " disapprove", admin_disapprove_shop_path(shop), method: :patch, class: "buy_now" %>
<% else %>  
  <%= link_to fa_icon("check-circle") + " approve", admin_approve_shop_path(shop), method: :patch, class: "buy_now" %>
<% end %>  
<%= link_to [:admin, shop] do %>
<div class="shop">

  <%= image_tag shop.image_url(:thumb), size: "160x120" %>
<div class="shop-details">
    <h1 class="shop-name"><%= shop.name %></h1>
    <p>Shop Owner: 
    <% if !(shop.user.first_name && shop.user.last_name) %>
      <%= shop.user.fullname %>
    <% else %>
      <%= shop.user.first_name %>, <%= shop.user.last_name.first %>
    <% end %>
    <% if shop.approved? %>
        <i class="fa fa-check-circle" aria-hidden="true">Verified</i></h1>
    <% else %>
        <i class="fa fa-question-circle" aria-hidden="true">Not Verified</i></h1> 
    <% end %>
    <br>
    <p class="created-at"> In a operation since <%= shop.created_at.strftime("%B %d, %Y") %></p>
    <p class="location"><%= shop.location %></p>
    <p><%= pluralize(shop.products.count, "product") %></p>
</div>
</div>
<% end %>
<% end %>
</div>
</div>