<%= simple_form_for shop do |f| %>
  
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :phonenumber %>
  <%= f.input :email %>
  <%= f.input :location %>
  <label><strong>Opening Time</strong></label>
  <%= f.time_select :opening, prompt: {hour: 'Choose hour', minute: 'Choose minute', second: 'Choose seconds'}, label: "Time", :minute_step => 30, :ampm => true, :item_wrapper_class => "inline" %>
  <br><br>
  <label><strong>Closing Time</strong></label>
  <%= f.time_select :closing, prompt: {hour: 'Choose hour', minute: 'Choose minute', second: 'Choose seconds'}, label: "Time", :minute_step => 30, :ampm => true, :item_wrapper_class => "inline" %>
  <%= f.input :image %>
  <br>

  <%= f.button :submit, class: "buy_now" %>

<% end %>