<div class="shop-banner-image" %>
		<%= image_tag @shop.image_url(:shop_banner), size: "984x362" %>
	</div>
	<br>
	<div class="row">
		<div class="shop-description-mini col-md-6">
			<h1 class="shop-title"><%= @shop.name %> 
			<% if @shop.approved? %>
			  <span class="label label-success"><i class="fa fa-check-circle" aria-hidden="true">Verified</i></span></h1>
			<% else %>
			  <span class="label label-warning"><i class="fa fa-question-circle" aria-hidden="true">Not Verified</i></span></h1> 
			<% end %>
			<br>
			<p class="shop-description-heading">Description</p>
			<div class="shop-description">
				<p><%= truncate(@shop.description, :length => 100) %>
				<% if @shop.description.length > 100 %>
				<!-- Button trigger modal -->
				<button type="button" class="buy_now" data-toggle="modal" data-target="#shopDescription">
					Read More..
				</button>
				<% end %>
				</p>
			</div>	
			<br>
			<% if current_user && (@shop.user == current_user) %>
			<p><%= link_to fa_icon("pencil") + " Edit Shop Details", [:edit, @shop], class: "buy_now" %>   <%= link_to fa_icon("arrow-circle-right") + " Upload Your Products", new_shop_product_path(@shop), class: "buy_now" if @shop.approved? %>
			<% end %>		
			</p>
		</div>
		<div class="other-shop-details col-md-6">
			<div class="shop-info">
				<div class="shop-hours">
					<p>Opening Hours: <span class="buy_now"><%= @shop.opening.strftime("%l %M %p") %> - <%= @shop.closing.strftime("%l %M %p") %></span></p>
				</div>
				<div class="shop-address">
					<h4>location: <span class="buy_now"><%= @shop.location %></span></h4>
				</div>

				<div class="shop-owner-details">
					<p>Owner: <span class="buy_now"><%= @shop.user.first_name %>, <%= @shop.user.last_name %></span></p>
					<p>Phone number: <button type="button" class="buy_now" data-toggle="modal" data-target="#phoneNumber">
					<i class="fa fa-eye" aria-hidden="true"></i> phonenumber
				</button></p>
					<p>Email: <button type="button" class="buy_now" data-toggle="modal" data-target="#email">
					<i class="fa fa-eye" aria-hidden="true"></i> email
				</button></p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>

	<h1>
		
		  <% if current_user && current_user.products.where(shop_id: nil).any? && @shop.user == current_user && @shop.approved? %>
		  <span class="buy_now" style="font-size:14px;"">NOTE: you have <%= pluralize(current_user.products.where(shop_id: nil).count, "product") %> that do not belong to any shop? Click <%= link_to "Here", shopless_products_path(shop_id: @shop.id) %> to view the products and add them to this shop!</span>
		  <% elsif current_user && (current_user.products.where(shop_id: nil).any? || current_user.products.empty?) && @shop.user == current_user && !@shop.approved? %>
		  <span class="buy_now" style="font-size:14px;"">NOTE: Your shop has been created and is pending approval. This means you can't add any product to this shop in meantime until it has been approved.</span>
		  <% elsif current_user && current_user.products.any? %>
		    All Products by <%= @shop.name %>	
		  <% elsif (!current_user || @shop.user != current_user) &&  @shop.products.empty? %>
		  	All Products by <%= @shop.name %>
		    <p>No products currently listed.</p>
		  <% elsif !current_user && @shop.products.empty? %>
		    <p>No products available</p>
		  <% elsif !current_user && @shop.products.any? %>
		    All Products by <%= @shop.name %>
		  <% end %>
	</h1>

	<div class="shop-products">
		<% @shop_products.in_groups_of(3, false).each do |group| %>
		<div class="product-row">
			<% group.each do |product| %>

			<div class="col_1_of_3 span_1_of_3">
				<div class="view view-fifth">
					<div class="top_box">
						<h3 class="text-center"><%= product.name %></h3>
						<%= link_to shop_product_path(product.shop, product) do %>
						<div class="grid_img">
							<div class="css3"><%= (image_tag (product.imageone_url(:large) || "noimage.jpg"), size: "200x200") %></div>
							<% end %>
							<div class="mask">
								<!--  <div class="info">Quick View</div> -->
							</div>
						</div>
						<div class="price">GHS <%= product.price %></div>
						<p>Cake Maker: 
							<% if product.user %>
							<span class="buy_now"><%= product.user.first_name %>, <%= product.user.last_name %></span>
							<% else %>  
							<span class="buy_now"><%= product.shop.user.first_name %>, <%= product.shop.user.last_name %></span>
							<% end %>  
						</p>
						<% if product.approved? %>
						<span class="label-success"><i class="fa fa-check-circle" aria-hidden="true">Verified</i></span></h1>
						<% else %>
						<span class="label-warning"><i class="fa fa-question-circle" aria-hidden="true">Not Verified</i></span>
						<% end %>
					</div>
				</div>
				<!-- <span class="rating">
					<input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
					<label for="rating-input-1-5" class="rating-star1"></label>
					<input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
					<label for="rating-input-1-4" class="rating-star1"></label>
					<input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
					<label for="rating-input-1-3" class="rating-star1"></label>
					<input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
					<label for="rating-input-1-2" class="rating-star"></label>
					<input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
					<label for="rating-input-1-1" class="rating-star"></label>&nbsp;
				</span>
				<ul class="list">
					<li>
						<%#= image_tag "plus.png", alt: "" %>
						<ul class="icon1 sub-icon1 profile_img">
							<li><a class="active-icon c1" href="#">Add To Bag </a>
								<ul class="sub-icon1 list">
									<li><h3>add to cart</h3><a href=""></a></li>
									<li><p>or add to wishlist<a href="">?</a></p></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul> -->
				<div class="clear"></div>
			</a>
		</div>
		<% end %>
	</div>
	<% end %>

	
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="shopDescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Shop Description</h4>
      </div>
      <div class="modal-body">
        <%= @shop.description %>
      </div>
      <div class="modal-footer">
        <button type="button" class="buy_now" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="phoneNumber" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Phone Number</h4>
      </div>
      <div class="modal-body">
        <%= @shop.user.phonenumber %>
      </div>
      <div class="modal-footer">
        <button type="button" class="buy_now" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Email</h4>
      </div>
      <div class="modal-body">
        <%= @shop.user.email %>
      </div>
      <div class="modal-footer">
        <button type="button" class="buy_now" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
