<h1>Hi <%= @admin.first_name %>, </h1>

<p>
  <%= @shop.user.first_name %> just created a shop. The details of the shop are as follows:
  -------------------------------------------------------------------------
  <p>Shop Name: <%= @shop.name %></p>
  <p>Shop Description: <%= @shop.description %></p>
  <p>Shop Location: <%= @shop.location %></p>
  <p>Opening hours: <%= @shop.opening.strftime("%r, %B %d, %Y") %></p>
  <p>Closing hours<%= @shop.closing.strftime("%r, %B %d, %Y") %></p>
  <p>Approved?<%= @shop.approved %></p>
</p>
