<h1>Hi <%= @user.first_name %>,</h1>

<p>
  you just created a shop. Below are the details.

  <%= @shop.user.first_name %> just created a shop. The details of the shop are as follows:
  -------------------------------------------------------------------------
  <p>Shop Name: <%= @shop.name %></p>
  <p>Shop Description: <%= @shop.description %></p>
  <p>Shop Location: <%= @shop.location %></p>
  <p>Opening Hours: <%= @shop.opening.strftime("%r, %B %d, %Y") %></p>
  <p>Closing Hours: <%= @shop.closing.strftime("%r, %B %d, %Y") %></p>
  <p>Approved?: <%= @shop.approved %></p>
</p>
