<div class="container">
<div class="wrapper">
	<div class="display_image_wrapper">
		<% if !@product.imageone.blank? %>
		  <%= link_to (image_tag @product.imageone_url(:display)), @product.imageone.url, class: "img-thumbnail" %>
		<% else %>
		   <% if current_user && @product.user == current_user %><h1><strong>Please Select Display Image!</strong></h1><% end %>
		  <a class="img-thumbnail">
		  	<%= image_tag "noimage.jpg", size: "350x300" %>
		  </a>
		<% end %>
		<br>
		<% if !@product.imagetwo.blank? %>
		<div class="sub_image_wrapper">
			<%= link_to (image_tag @product.imagetwo_url(:thumb), size: "150x120"), @product.imagetwo.url, class: "img-thumbnail" %>
			<% else %>
			<% end %>

			<% if !@product.imagethree.blank? %>
			<%= link_to (image_tag @product.imagethree_url(:thumb), size: "150x120"), @product.imagethree.url, class: "img-thumbnail" %> 
			<% else %>
			<% end %>

			<% if !@product.imagefour.blank? %>
			<%= link_to (image_tag @product.imagefour_url(:thumb), size: "150x120"), @product.imagefour.url, class: "img-thumbnail" %>
		</div>  
		<% else %>
		<div class="sub_image_wrapper"></div>
		<% end %>
	</div>


<div class="cont1 span_2_of_a1">
	<h3 class="m_3"><%= @product.name %>
		<% if @product.approved? %>
		<%= link_to fa_icon("thumbs-down") + " disapprove", admin_disapprove_shopless_product_path(@product.user, @product), method: :patch, class: "buy_now" %>
		<% else %>
		<%= link_to fa_icon("thumbs-up") + " approve", admin_approve_shopless_product_path(@product.user, @product), method: :patch, class: "buy_now" %>
		<% end %>
	</h3>

	<div class="price_single">
		<span>GHS <%= @product.price%></span>
	</div>
	<p>Cake Size: <span class="buy_now"><%= @product.size %></span></p>
	<br>
	<ul class="options">
		<h4 class="m_9">Cake Maker: 
		<% if @product.user %>
		  <% if !(@product.user.first_name && @product.user.last_name) %>
  		    <span class="buy_now"><%= @product.user.fullname %></span>
  		  <% else %>
		    <span class="buy_now"><%= @product.user.first_name %>, <%= @product.user.last_name %></span></h4>
		  <% end %>
		<% elsif @product.shop %>
		  <% if !(@product.shop.user.first_name && @product.shop.user.last_name) %>
		    <span class="buy_now"><%= @product.shop.user.fullname %></span>
		  <% else %>
 			<span class="buy_now"><%= @product.shop.user.first_name %>, <%= @product.shop.user.last_name %></span>	
		  <% end %>
		<% end %>
		<h4>No Shop <%= link_to fa_icon("arrow-circle-right") + " Create Shop", new_admin_user_shop_path(@product.user), class: "buy_now" if @user.seller? && @user.shops.empty? %></h4>
		<% if @product.approved? %>
         product <span class="label label-success"><i class="fa fa-check-circle" aria-hidden="true">Verified</i></span>
       <% else %>
         product <span class="label label-warning"><i class="fa fa-question-circle" aria-hidden="true">Not Verified</i></span> 
       <% end %>
		<br>
		<br>
		<% if @product.tags.any? %>
		<b>Category(ies):</b>
		<b><%#= render @product.tags %></b>
		<% @product.tags.each do |tag| %>
		<b><%= link_to fa_icon("times") + tag.name, admin_remove_shopless_product_tag_path(id: @product.id, tag_id: tag.id), method: :delete, class: "buy_now" %></b>
		<% end %>
		<% else %>
		No Categories	
		<% end %>
		<br>
		<br>

		<li><%#= link_to fa_icon("pencil") + " Edit", edit_admin_user_shopless_product_path(@user, @product), class: "buy_now" %>
		<%= link_to fa_icon("trash-o") + " Remove", admin_user_shopless_product_path(@user, @product), method: :delete, data: { confirm: "Are you sure you want to delete this?" }, class: "buy_now" %>
		<%#= link_to fa_icon("upload") + " Upload Another Cake", new_admin_user_shopless_product_path(@user), class: "buy_now" %></li>
		
		

		<div class="clear"></div>
	</ul>
	<br>
	<div>

	</div>
	<br>
	<h4>Description</h4>
	<p class="m_desc"><%= truncate(@product.description, length: 500) %>.
		<% if @product.description.length > 500 %>

		<!-- Button trigger modal -->
		<button type="button" class="buy_now" data-toggle="modal" data-target="#myModal">
			Read More
		</button>

		<% end %>
	</p>
	
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Description</h4>
			</div>
			<div class="modal-body">
				<%= @product.description %>
			</div>
			<div class="modal-footer">
				<button type="button" class="buy_now" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<br>
<br>
<div class="row">
<span class="buy_now">Related products <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
<% @products.in_groups_of(3, false).each do |group| %>
<div class="row">
<% group.each do |product| %>

<div class="col_1_of_3 span_1_of_3">
 <div class="view view-fifth">
 <% if product.shop.present? %>
  <%#= link_to fa_icon("pencil") + " edit", edit_admin_shop_product_path(product.shop, product), class: "buy_now" %>
  <%= link_to fa_icon("times") + " remove", admin_shop_product_path(product.shop, product), method: :delete, data: 
  {confirm: "are you sure you want to delete this product?"}, class: "buy_now" %>
  <% if product.approved? %>
    <%= link_to fa_icon("thumbs-down") + " disapprove", admin_disapprove_product_path(product.shop, product), method: :patch, class: "buy_now" %>
  <% else %>
    <%= link_to fa_icon("thumbs-up") + " approve", admin_approve_product_path(product.shop, product), method: :patch, class: "buy_now" %>
  <% end %>
<% elsif product.shop.nil? %>
  <%#= link_to fa_icon("pencil") + " edit", edit_admin_user_shopless_product_path(product.user, product), class: "buy_now" %>
  <%= link_to fa_icon("times") + " remove", admin_user_shopless_product_path(product.user, product), method: :delete, data: 
  {confirm: "are you sure you want to delete this product?"}, class: "buy_now" %>
  <% if product.approved? %> 
    <%= link_to fa_icon("thumbs-down") + " disapprove", admin_disapprove_shopless_product_path(product.user, product), method: :patch, class: "buy_now" %>
  <% else %>
    <%= link_to fa_icon("thumbs-up") + " approve", admin_approve_shopless_product_path(product.user, product), method: :patch, class: "buy_now" %>
  <% end %>
<% end %>
  <div class="top_box">
    <h3 class="text-center"><%= product.name %></h3>
    <div class="grid_img">
     <div class="css3"><% if product.shop %>
     <%= link_to (image_tag (product.imageone_url(:large) || "noimage.jpg"), size: "250x200"), admin_shop_product_path(product.shop, product) %>
     <% elsif product.user %>
     <%= link_to (image_tag (product.imageone_url(:large) || "noimage.jpg"), size: "250x200"), admin_user_shopless_product_path(product.user, product) %>
       <% end%>
     </div>
     <div class="mask">
     <!--  <div class="info">Quick View</div> -->
    </div>
  </div>
  <div class="price">GHS <%= product.price %></div>

  <p>Cake Maker: 
  <% if product.user %>
      <% if !(product.user.first_name && product.user.last_name) %>
          <span class="buy_now"><%= product.user.fullname %></span>
        <% else %>
        <span class="buy_now"><%= product.user.first_name %>, <%= product.user.last_name %></span></h4>
      <% end %>
    <% elsif product.shop %>
      <% if !(product.shop.user.first_name && product.shop.user.last_name) %>
        <span class="buy_now"><%= product.shop.user.fullname %></span>
      <% else %>
      <span class="buy_now"><%= product.shop.user.first_name %>, <%= product.shop.user.last_name %></span>  
      <% end %>
    <% end %> 
  </p>
  <% if product.approved? %>
    <span class="label label-success"><i class="fa fa-check-circle" aria-hidden="true">Verified</i></span></h1>
  <% else %>
    <span class="label label-warning"><i class="fa fa-question-circle" aria-hidden="true">Not Verified</i></span></h1>
  <% end %>
</div>
</div>
<span class="rating">
  <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
  <label for="rating-input-1-5" class="rating-star1"></label>
  <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
  <label for="rating-input-1-4" class="rating-star1"></label>
  <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
  <label for="rating-input-1-3" class="rating-star1"></label>
  <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
  <label for="rating-input-1-2" class="rating-star"></label>
  <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
  <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
</span>
<ul class="list">
  <li>
    <%= image_tag "plus.png", alt: "" %>
    <ul class="icon1 sub-icon1 profile_img">
      <li><a class="active-icon c1" href="#">Add To Bag </a>
        <ul class="sub-icon1 list">
          <li><h3>add to cart</h3><a href=""></a></li>
          <li><p>or add to wishlist<a href="">?</a></p></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<div class="clear"></div>
</a></div>
<% end %>
</div>
<% end %>
</div>
