
<table class="table table-condensed">
 <tr>
    <th>Order Id</th>
    <th>Categories</th> 
    <th>Description</th>
    <th>Order Created At</th>
    <th>Actions</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td><%="#{order.id}" %></td>
    <td><% order.tags.each do |category| %>
    	  <%= category.name %>,
    	<% end %>
    </td> 
    <td><%= truncate(order.description, :length => 15) %></td>
    <td><%= order.created_at.strftime("%r, %B %d, %Y") %></td>
    <td><%= link_to fa_icon("eye") + " view", order, class: "buy_now" %> 
    <% if order.seller_id.nil? %>
    <span class="label label-danger">order not served</span></td>
    <% elsif order.seller_id == current_user.id %>
    <span class="label label-success">order served</span>
    <% elsif order.seller_id != current_user.id %> 
    <span class="label label-info">order served by someone else</span>	
    <% end %>
  </tr>
  <% end %>
</table>