<div class="categorization-container">
<h1><span class="bold-style">Category(ies):</span> <% @order.tags.each do |order_type| %>
			     <%= order_type.name %>, 	
	           <% end %>
</h1>
<br>
<h2><span class="bold-style">Description:</span> <%= @order.description %></h2><br>
<h2><span class="bold-style">min price:</span> <%= @order.min_price %></h2><br>
<h2><span class="bold-style">max price:</span> <%= @order.max_price %></h2><br>
<h2><span class="bold-style">recipient's name:</span> <%= @order.recipient_name %></h2><br>
<h2><span class="bold-style">recipient'address:</span> <%= @order.recipient_address %></h2><br>
<h2><span class="bold-style">recipient's phonenumber:</span> <%= @order.recipient_phonenumber %></h2><br>
<h2><span class="bold-style">recipient's email:</span> <%= @order.recipient_email %></h2><br>
<h2><span class="bold-style">delivery date:</span> <%= @order.delivery_date.strftime("%B %d, %Y") %></h2>
<br> 
<br>
<%= link_to fa_icon("pencil") + " Edit Order Details", edit_order_path(@order), class: "buy_now" %> <%= link_to fa_icon("trash") + " Cancel Order?", order_path(@order), method: :delete, data: { confirm: "Are you sure you want to delete this order?" }, class: "buy_now" %>
</div>