<br>
<div class="login-title">
<h4 class="title">Advanced Search By:</h4>

<%= form_for @search, html: { class: "pure-form" } do |f| %>
<div class="row">
  <div class="col-md-2 col-lg-4 col-sm-2 col-xs-2">
  <div class="fields">
    <%= f.label :keywords, "name" %>
    <%= f.text_field :keywords, class: "form-control" %>  	
  </div>

  <div class="fields">
    <%= f.label :min_price, "Min Price"%> - <%=  f.text_field :min_price, size: 10, class: "form-control" %>	
  </div>

  <div class="fields">
    <%= f.label :max_price, "Max Price"%> - <%=  f.text_field :max_price, size: 10, class: "form-control" %>
  </div>

   <div class="fields">
    <%#= f.label :name, "Categories" %>
    <%#= f.select :name, options_for_select(@product_categories), :include_blank => true %> 
  </div>
  </div>
  </div>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Search", class: "search_button" %>	
  </div>
<% end %>
<br>

<%= link_to fa_icon("arrow-left") + " Back", :back, class: "back_button" %>