<h1>Here are a list of products you have currently that do no belong to any shop:</h1>
<%# @shopless_products.each do |product| %>
  <!-- <h1><%#= link_to product.name, shopless_product_path(product), class: "buy_now" %> <%#= link_to fa_icon("plus-square") + "", add_shopless_product_path(product, shop_id: @shop.id), data: { confirm: "Do you want to add #{product.name} to #{@shop.name}?"} %> <%#= @shop.name %></h1> -->
  <%# end %>
  <br>
  <% @shopless_products.in_groups_of(3, false).each do |group| %>
<div class="row">
<% group.each do |product| %>

<div class="col_1_of_3 span_1_of_3">
<%= link_to fa_icon("plus-square", class: "pull-right") + "add", add_shopless_product_path(product, shop_id: @shop.id), data: { confirm: "Do you want to add #{product.name} to #{@shop.name}?"}, class: "buy_now" %> 
 <div class="view view-fifth">
  <div class="top_box">
    <h3 class="text-center"><%= product.name %></h3>
    <div class="grid_img">
     <div class="css3">
     <%= link_to (image_tag (product.imageone_url(:large) || "noimage.jpg"), size: "250x200"), shopless_product_path(product) %>
     </div>
     <div class="mask">
     <!--  <div class="info">Quick View</div> -->
    </div>
  </div>
  <div class="price">GHS <%= product.price %></div>

  <p>Cake Maker: 
  <% if product.user %>
      <% if !(product.user.first_name && product.user.last_name) %>
          <span class="buy_now"><%= product.user.fullname %></span>
        <% else %>
        <span class="buy_now"><%= product.user.first_name %>, <%= product.user.last_name %></span></h4>
      <% end %>
    <% end %> 
  </p>
   <% if product.approved? %>
      <span class="label label-success"><i class="fa fa-check-circle" aria-hidden="true">Verified</i></span></h1>
    <% else %>
      <span class="label label-warning"><i class="fa fa-question-circle" aria-hidden="true">Not Verified</i></span>
    <% end %>
</div>
</div>
<span class="rating">
  <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1">
  <label for="rating-input-1-5" class="rating-star1"></label>
  <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1">
  <label for="rating-input-1-4" class="rating-star1"></label>
  <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1">
  <label for="rating-input-1-3" class="rating-star1"></label>
  <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1">
  <label for="rating-input-1-2" class="rating-star"></label>
  <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1">
  <label for="rating-input-1-1" class="rating-star"></label>&nbsp;
</span>
<ul class="list">
  <li>
    <%= image_tag "plus.png", alt: "" %>
    <ul class="icon1 sub-icon1 profile_img">
      <li><a class="active-icon c1" href="#">Add To Bag </a>
        <ul class="sub-icon1 list">
          <li><h3>add to cart</h3><a href=""></a></li>
          <li><p>or add to wishlist<a href="">?</a></p></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<div class="clear"></div>
</a></div>
<% end %>
</div>
<% end %>



