<%= simple_form_for product do |f| %>

  <% if product %>
  <%= image_tag product.imageone_url(:thumb) %>
  <%= f.input :imageone, as: :file, label: "NOTE: Image 1 will be the image displayed on list of products " %>
  <%= f.input :imageone_cache, as: :hidden %>

  <%= image_tag product.imagetwo_url(:thumb) %>
  <%= f.input :imagetwo, as: :file, label: "Image 2" %>
  <%= f.input :imagetwo_cache, as: :hidden %>

  <%= image_tag product.imagethree_url(:thumb) %>
  <%= f.input :imagethree, as: :file, label: "Image 3" %>
  <%= f.input :imagethree_cache, as: :hidden %>

  <%= image_tag product.imagefour_url(:thumb) %>
  <%= f.input :imagefour, as: :file, label: "Image 4" %>
  <%= f.input :imagefour_cache, as: :hidden %>


  <% else %>


  <%= f.input :imageone, as: :file, label: "No Image" %>
  <%= f.input :imageone_cache, as: :hidden %>
 
  <%= f.input :imagetwo, as: :file, label: "No Image" %>
  <%= f.input :imagetwo_cache, as: :hidden %>

  <%= f.input :imagethree, as: :file, label: "No Image" %>
  <%= f.input :imagethree_cache, as: :hidden %>

  <%= f.input :imagefour, as: :file, label: "No Image" %>
  <%= f.input :imagefour_cache, as: :hidden %>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>

  <label>Please input words separated by a space</label>
  <%= f.input :tag_names, label: "Category(ies)" %>

  <div class="text-center" style="padding-top:5%;">
    <%= f.button :submit, class: "buy_now" %>
  </div>
<% end %>