<h1>This Site is Currently Under Construction!</h1>  
<div class="pull-right">
  <% if current_user %> 
    <%= image_tag current_user.image_url(:thumb) %> 
    (<%= current_user.username %>) | 
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { confirm: "you really want log out?" } %> | 
    <%= link_to "Profile Settings", edit_user_registration_path %>
  <% else %>
    <%= link_to "Log In", new_user_session_path %> 
  <% end %>
</div>             

<h2><%= link_to "Do You Make Cakes?", new_product_path %></h2>


<h1>Products</h1>

<% @products.each do |product| %>
   <%= product.attachments.each do |attachment| %>
     <% image_tag attachment.image_url(:thumb), attachment.image.url %>
   <% end %>
  <h4><%= link_to product.name, product %></h4>
  <h4><%= product.description %></h4>
  <h4><%= product.price %></h4>
<h2><% if current_user %>
<%= link_to "Edit", [:edit, product] %> | <%= link_to "Remove", [product], method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
	<% end %>
</h2>

<% end %>