<%= link_to (image_tag @product.imageone_url(:thumb)), @product.imageone.url %>
<%= link_to (image_tag @product.imagetwo_url(:thumb)), @product.imagetwo.url %>
<%= link_to (image_tag @product.imagethree_url(:thumb)), @product.imagethree.url %>
<%= link_to (image_tag @product.imagefour_url(:thumb)), @product.imagefour.url %>

<h2><%= @product.name %></h2>
<h4><%= @product.description %></h4>
<h4><%= @product.price%></h4> <br/>
<p>Cake Maker: <%= @product.user.first_name %></p>

<% if @product.user == current_user  && current_user.seller? %>
<%= link_to "Edit", [:edit, @product] %> | <%= link_to "Remove", [@product], method: :delete, data: { confirm: "Are you sure you want to delete this?" } %> | <%= link_to "Upload Another Cake", new_product_path %> |  
<% end %>

<%= link_to "Home", root_path %> 