<h2><%= @product.name %></h2>
<h4><%= @product.description %></h4>
<h4><%= @product.price%></h4> <br/>

<%= link_to "Edit", [:edit, @product] %> | <%= link_to "Home", root_path %> | <%= link_to "Upload Your Cake", new_product_path %>