<div class="wrapper">
<div class="display_image_wrapper">
<%= link_to (image_tag @product.imageone_url(:display)), @product.imageone.url, class: "img-thumbnail" %>
<br>
<% if !@product.imagetwo.blank? %>
  <%= link_to (image_tag @product.imagetwo_url(:thumb)), @product.imagetwo.url, class: "img-thumbnail" %>
<% else %>
  <h4>No Image</h4>
<% end %>

<% if !@product.imagethree.blank? %>
  <%= link_to (image_tag @product.imagethree_url(:thumb)), @product.imagethree.url, class: "img-thumbnail" %>
<% else %>
  <h4>No Image</h4>
<% end %>

<% if !@product.imagefour.blank? %>
  <%= link_to (image_tag @product.imagefour_url(:thumb)), @product.imagefour.url, class: "img-thumbnail" %>
<% else %>
  <h4>No Image</h4>
<% end %>




</div>
</div>



<div class="cont1 span_2_of_a1">
	<h3 class="m_3"><%= @product.name %></h3>

	<div class="price_single">
		<span class="reducedfrom">GHS 66.00</span>
		<span class="actual">GHS <%= @product.price%></span>
	</div>
	<ul class="options">
		<h4 class="m_9">Cake Maker: <%= @product.user.first_name %></h4>

		<% if @product.tags.any? %>
		  <b>Category(ies):</b>
		  <b><%#= render @product.tags %></b>
		  <% @product.tags.each do |tag| %>
		    <b><%= link_to "X", remove_product_tag_path(@product, tag), method: :delete %></b><%= tag.name %> 
		  <% end %>
		<% else %>
		  No Categories	
		<% end %>
		<br>
		<br>
		<% if @product.user == current_user  && current_user.seller? %>
		<li><%= link_to fa_icon("pencil") + " Edit", [:edit, @product] %></li>
		<li><%= link_to fa_icon("trash-o") + " Remove", [@product], method: :delete, data: { confirm: "Are you sure you want to delete this?" } %></li>
		<li><%= link_to fa_icon("upload") + " Upload Another Cake", new_product_path %></li>
		<li><%= link_to "Home", root_path %></li>
		<% end %>

		<div class="clear"></div>
	</ul>
	<br>
	<div>
	  <%= link_to fa_icon("shopping-cart", class: "pull-right") + "Purchase Now", "#", class: "buy_now" %>
	</div>
	<br>
	<h4>Description</h4>
	<p class="m_desc"><%= @product.description %>.</p>

	<div class="social_single">	
		<ul>	
			<li class="fb"><a href="#"><span> </span></a></li>
			<li class="tw"><a href="#"><span> </span></a></li>
			<li class="g_plus"><a href="#"><span> </span></a></li>
			<li class="rss"><a href="#"><span> </span></a></li>		
		</ul>
	</div>
</div>
