<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "admin/application", media: 'all' %>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="/admin" class="logo">MAKEANDBAKE <span class="lite">Admin</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">                    
                    <li>
                        <% if params[:controller] == "admin/products" && params[:action] == "index" %>
                        <%= form_tag admin_products_path, :method => 'get', class: "navbar-form" do %>
<!--                            <div class="col-lg-4 col-lg-offset-4">
 -->                            Search products <%= text_field_tag :search, params[:search], placeholder: "search",  class: "form-control" %>
<!--                           </div>
 -->                          <%= submit_tag "Search", class: "btn btn-default" %> <%= link_to fa_icon("arrow-right", class: "pull-right") + "Advanced Product Search", new_admin_search_path, class: "btn btn-default" %>
                        <% end %>    
                          <div class="col-lg-4 col-lg-offset-4">
                        <% elsif params[:controller] == "admin/users" && params[:action] == "index" %>  
                        <%= form_tag admin_users_path, :method => 'get', class: "navbar-form" do %>
<!--                            <div class="col-lg-4 col-lg-offset-4">
 -->                            Search Users <%= text_field_tag :search, params[:search], placeholder: "search",  class: "form-control" %>
<!--                           </div>
 -->                          <%= submit_tag "Search", class: "btn btn-default" %> <%#= link_to fa_icon("arrow-right", class: "pull-right") + "Advanced User Search", new_admin_search_path, class: "btn btn-default" %>
                                <% end %>
                          <div class="col-lg-4 col-lg-offset-4">
                          <% elsif params[:controller] == "admin/users" && params[:action] == "sellers" %>  
                        <%= form_tag admin_users_path, :method => 'get', class: "navbar-form" do %>
<!--                            <div class="col-lg-4 col-lg-offset-4">
 -->                            Search Sellers <%= text_field_tag :search, params[:search], placeholder: "search",  class: "form-control" %>
<!--                           </div>
 -->                          <%= submit_tag "Search", class: "btn btn-default" %> <%#= link_to fa_icon("arrow-right", class: "pull-right") + "Advanced User Search", new_admin_search_path, class: "btn btn-default" %>
                                <% end %>
                          <div class="col-lg-4 col-lg-offset-4">
                          <% elsif params[:controller] == "admin/users" && params[:action] == "buyers" %>  
                        <%= form_tag admin_users_path, :method => 'get', class: "navbar-form" do %>
<!--                            <div class="col-lg-4 col-lg-offset-4">
 -->                            Search Buyers <%= text_field_tag :search, params[:search], placeholder: "search",  class: "form-control" %>
<!--                           </div>
 -->                          <%= submit_tag "Search", class: "btn btn-default" %> <%#= link_to fa_icon("arrow-right", class: "pull-right") + "Advanced User Search", new_admin_search_path, class: "btn btn-default" %>
                                <% end %>
                          <div class="col-lg-4 col-lg-offset-4">
                         <% elsif params[:controller] == "admin/shops" && params[:action] == "index" %>
                         <%= form_tag admin_shops_path, :method => 'get', class: "navbar-form" do %>
<!--                            <div class="col-lg-4 col-lg-offset-4">
 -->                            Search Shops <%= text_field_tag :search, params[:search], placeholder: "search",  class: "form-control" %>
<!--                           </div>
 -->                          <%= submit_tag "Search", class: "btn btn-default" %> <%#= link_to fa_icon("arrow-right", class: "pull-right") + "Advanced Shop Search", new_admin_search_path, class: "btn btn-default" %>
                                <% end %>
                          <div class="col-lg-4 col-lg-offset-4">
                       
                         </diiv>
                    </li>   
                      <% end %>                 
                </ul>
                <!--  search form end -->                
            </div>

            <div class="top-nav notification-row">                
                <ul class="nav pull-right top-menu">
                    
                    <li id="task_notificatoin_bar" class="dropdown">
                        <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="icon-task-l"></i>
                            <span class="badge bg-important">6</span>
                        </a> -->
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">You have 6 pending letter</p>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Design PSD </div>
                                        <div class="percent">90%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                            <span class="sr-only">90% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">
                                            Project 1
                                        </div>
                                        <div class="percent">30%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                            <span class="sr-only">30% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Digital Marketing</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Logo Designing</div>
                                        <div class="percent">78%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                                            <span class="sr-only">78% Complete (danger)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Mobile App</div>
                                        <div class="percent">50%</div>
                                    </div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar"  role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                            <span class="sr-only">50% Complete</span>
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <li id="mail_notificatoin_bar" class="dropdown">
                        <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope-l"></i>
                            <span class="badge bg-important">5</span>
                        </a> -->
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="./img/avatar-mini.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Greg  Martin</span>
                                    <span class="time">1 min</span>
                                    </span>
                                    <span class="message">
                                        I really like this admin panel.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="./img/avatar-mini2.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Bob   Mckenzie</span>
                                    <span class="time">5 mins</span>
                                    </span>
                                    <span class="message">
                                     Hi, What is next project plan?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="./img/avatar-mini3.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Phillip   Park</span>
                                    <span class="time">2 hrs</span>
                                    </span>
                                    <span class="message">
                                        I am like to buy this Admin Template.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="./img/avatar-mini4.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Ray   Munoz</span>
                                    <span class="time">1 day</span>
                                    </span>
                                    <span class="message">
                                        Icon fonts are great.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="icon-bell-l"></i><i></i>
                            <span class="badge bg-important">7</span>
                        </a> -->
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">You have 4 new notifications</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary"><i class="icon_profile"></i></span> 
                                    Friend Request
                                    <span class="small italic pull-right">5 mins</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-warning"><i class="icon_pin"></i></span>  
                                    John location.
                                    <span class="small italic pull-right">50 mins</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-danger"><i class="icon_book_alt"></i></span> 
                                    Project 3 Completed.
                                    <span class="small italic pull-right">1 hr</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-success"><i class="icon_like"></i></span> 
                                    Mick appreciated your work.
                                    <span class="small italic pull-right"> Today</span>
                                </a>
                            </li>                            
                            <li>
                                <a href="#">See all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                           <!--  <span class="profile-ava">
                                <img alt="" src="img/avatar1_small.jpg">
                            </span> -->
                            <span class="username"><%= current_user.first_name if current_user.admin? %></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_profile"></i> My Profile</a>
                            </li>
                            <!-- <li>
                                <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                            </li> -->
                           <!--  <li>
                                <a href="#"><i class="icon_clock_alt"></i> Timeline</a>
                            </li> -->
                            <!-- <li>
                                <a href="#"><i class="icon_chat_alt"></i> Chats</a>
                            </li> -->
                            <li>
                                <%= link_to fa_icon("sign-out", class: "pull-right") + " Log Out", destroy_user_session_path, method: :delete, data: { confirm: "you really want log out?" } %>
                            </li>
                            <!-- <li>
                                <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                            </li>
                            <li>
                                <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                            </li> -->
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>      
       
            <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">  

                          <span><%= link_to fa_icon("tachometer") + " Dashboard", admin_root_path %></span>
                  </li>
				  <li class="sub-menu">
                      <%= link_to fa_icon("plus") + " create admin", new_admin_user_path if current_user.super_admin? %>
                  </li>  
                   <li class="sub-menu">
                      <%= link_to fa_icon("eye") + " view admins", table_of_admins_admin_users_path if current_user.super_admin? %>
                  </li>  
                  <li class="sub-menu">
                      <%= link_to fa_icon("eye") + " view users", admin_users_path %>
                  </li>
                  <li class="sub-menu">
                      <%= link_to fa_icon("eye") + " view buyers", admin_buyers_path %> 
                  </li>
                  <li class="sub-menu">
                      <%= link_to fa_icon("eye") + " view sellers", admin_sellers_path %> 
                  </li>
                  <li class="sub-menu">
                      <%= link_to fa_icon("eye") + " view shops", admin_shops_path %>
                  </li>
                  <li class="sub-menu">
                      <%= link_to fa_icon("eye") + " view products", admin_products_path %>
                  </li>  
                  <li class="sub-menu">
                      <%= link_to fa_icon("eye") + " view orders", admin_orders_path %>
                  </li>  
                  <li>
                    <%= link_to fa_icon("archive") + " suspended accounts", suspended_accounts_admin_users_path %>    
                  </li>
                  <li class="sub-menu">
                      <%= link_to fa_icon("arrow-left") + " visit app", root_path %>
                  </li>                                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
       <section id="main-content">
          <section class="wrapper">            
              
              <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i><%= current_user.first_name %> <%= current_user.last_name %>, Welcome to MAKEANDBAKE Command Center</h3>
                    <ol class="breadcrumb">
                        <!-- <li><%#= breadcrumbs pretext: "", display_single_fragment: true %></li>                           -->
                    </ol>
                </div>
            </div> 


    <div class="container" >
    <div id="main_wrap">
	  <% flash.each do |key, message| %>
	<div class="alert alert-<%= key %>">
	  <%= message %>
	</div>
	<% end %>
	  <%= yield %>
	  </div>
	  </div>
	</section>
	</section>
</body>
</html>