<!DOCTYPE html>
<html>
<head>
  <title>Makeandbake</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="pull-right">
  <% if current_user %> 
    <%= image_tag current_user.image_url(:thumb) || current_user.remote_twitter_image_url(:thumb) %> 
    (<%= current_user.username %>) | 
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { confirm: "you really want log out?" } %> | 
    <%= link_to "Profile Settings", edit_user_registration_path %>
  <% else %>
    <%= link_to "Log In", new_user_session_path %> | <%= link_to "Sign in with twitter", user_twitter_omniauth_authorize_path %>
  <% end %>
</div>             

<div class= "container">
<% flash.each do |key, message| %>
  <div class="alert alert-<%= key %>">
  <%= message %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
