<!DOCTYPE html>
<html>
<head>
  <title>Makeandbake</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Looking for that cake for that event? Then makeandbake is your one stop-shop for cakes for any event."/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
<!-- start menu -->     
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!-- end menu -->
<!-- top scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
   <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".scroll").click(function(event){   
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
      });
    });
  </script>

<body>
<div class="header-top">
   <div class="wrap"> 
    <div class="logo">
      <!-- <a href="index.html"> --><!-- <img src="images/logo.png" alt=""/> --><b><h1><b>MakeandBake</b></h1></b><!-- </a> -->
      </div>
      <!-- <div class="cssmenu"> -->
       <!-- <ul> -->
       <div class="pull-right"%>
         <% if current_user %> 
         <%= image_tag current_user.image_url(:thumb) if current_user.image_url %> <%= image_tag current_user.remote_twitter_image_url(:thumb) if current_user.remote_twitter_image_url %> 
         (<%= current_user.username %>) | 
         <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { confirm: "you really want log out?" } %> | 
         <%= link_to "Profile Settings", edit_user_registration_path %>
         <% else %>
         <%= link_to "Log In", new_user_session_path %> <!-- OR login with: --> <%#= link_to fa_icon("twitter") + "Twitter", user_twitter_omniauth_authorize_path %>  <%#= link_to fa_icon("instagram") + "Instagram", user_instagram_omniauth_authorize_path %>  <%#= link_to fa_icon("facebook-official") + "Facebook", user_facebook_omniauth_authorize_path %>
         <% end %>
       </div>
      <!--  <li class="active">Sign up & Save</li> 
       <li><a href="shop.html">Store Locator</a></li> 
       <li><a href="login.html">My Account</a></li> 
       <li><a href="checkout.html">CheckOut</a></li>  -->
       <!-- </ul> -->
    <!-- </div> -->
    <div class="clear"></div>
  </div>
   </div>   
   <div class="header-bottom">
    <div class="wrap">
      <!-- start header menu -->
    <ul class="megamenu skyblue">
      <li>
        <%= form_tag products_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", class: "search_button" %>
        <% end %>
      </li>
        <li><%= link_to "Home", root_path %></li>
           <li class="active grid"><a class="color4" href="#">Events</a>
        <div class="megapanel">
          <div class="row">
            <div class="col1">
              <div class="h_nav">
                <h4>shop</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">brands</a></li>
                </ul> 
              </div>              
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>help</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>              
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>my company</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>                        
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>account</h4>
                <ul>
                  <li><a href="shop.html">login</a></li>
                  <li><a href="shop.html">create an account</a></li>
                  <li><a href="shop.html">create wishlist</a></li>
                  <li><a href="shop.html">my shopping bag</a></li>
                  <li><a href="shop.html">brands</a></li>
                  <li><a href="shop.html">create wishlist</a></li>
                </ul> 
              </div>            
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>popular</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>
            </div>
            <div class="col1">
             <div class="h_nav">
               <img src="images/nav_img1.jpg" alt=""/>
             </div>
            </div>
          </div>
          <div class="row">
            <div class="col2"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
          </div>
          </div>
          </li>       

        <li><a class="color5" href="#">Types of Cakes</a>
        <div class="megapanel">
          <div class="row">
            <div class="col1">
              <div class="h_nav">
                <h4>popular</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">login</a></li>
                </ul> 
              </div>
              <div class="h_nav">
                <h4 class="top">man</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>style zone</h4>
                <ul>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">brands</a></li>
                </ul> 
              </div>              
            </div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <img src="images/nav_img2.jpg" alt=""/>
          </div>
        </div>
        </li>

        <li><a class="color6" href="#">Popular Cakes</a>
        <div class="megapanel">
          <div class="row">
            <div class="col1">
              <div class="h_nav">
                <h4>shop</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">brands</a></li>
                </ul> 
              </div>  
              <div class="h_nav">
                <h4 class="top">my company</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>                        
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>man</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>            
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>help</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>              
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>account</h4>
                <ul>
                  <li><a href="shop.html">login</a></li>
                  <li><a href="shop.html">create an account</a></li>
                  <li><a href="shop.html">create wishlist</a></li>
                  <li><a href="shop.html">my shopping bag</a></li>
                  <li><a href="shop.html">brands</a></li>
                  <li><a href="shop.html">create wishlist</a></li>
                </ul> 
              </div>            
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>my company</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>popular</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col2"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
          </div>
        </div>
        </li>

        <li><a class="color7" href="#">Special Order</a>
        <div class="megapanel">
          <div class="row">
            <div class="col1">
              <div class="h_nav">
                <h4>shop</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">brands</a></li>
                </ul> 
              </div>              
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>help</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>              
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>my company</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>                        
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>account</h4>
                <ul>
                  <li><a href="shop.html">login</a></li>
                  <li><a href="shop.html">create an account</a></li>
                  <li><a href="shop.html">create wishlist</a></li>
                  <li><a href="shop.html">my shopping bag</a></li>
                  <li><a href="shop.html">brands</a></li>
                  <li><a href="shop.html">create wishlist</a></li>
                </ul> 
              </div>            
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>my company</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>popular</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col2"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
          </div>
            </div>
        </li>

        <li><a class="color8" href="#">Create Your Own Shop</a>
        <div class="megapanel">
          <div class="row">
            <div class="col1">
              <div class="h_nav">
                <h4>style zone</h4>
                <ul>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">brands</a></li>
                </ul> 
              </div>              
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>popular</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">login</a></li>
                </ul> 
              </div>
              <div class="h_nav">
                <h4 class="top">man</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
          </div>
        </div>
        </li>

        <li><a class="color9" href="#">Blog</a>
        <div class="megapanel">
          <div class="row">
            <div class="col1">
              <div class="h_nav">
                <h4>shop</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">brands</a></li>
                </ul> 
              </div>              
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>help</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>              
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>my company</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>                        
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>account</h4>
                <ul>
                  <li><a href="shop.html">login</a></li>
                  <li><a href="shop.html">create an account</a></li>
                  <li><a href="shop.html">create wishlist</a></li>
                  <li><a href="shop.html">my shopping bag</a></li>
                  <li><a href="shop.html">brands</a></li>
                  <li><a href="shop.html">create wishlist</a></li>
                </ul> 
              </div>            
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>my company</h4>
                <ul>
                  <li><a href="shop.html">trends</a></li>
                  <li><a href="shop.html">sale</a></li>
                  <li><a href="shop.html">style videos</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>
            </div>
            <div class="col1">
              <div class="h_nav">
                <h4>popular</h4>
                <ul>
                  <li><a href="shop.html">new arrivals</a></li>
                  <li><a href="shop.html">men</a></li>
                  <li><a href="shop.html">women</a></li>
                  <li><a href="shop.html">accessories</a></li>
                  <li><a href="shop.html">kids</a></li>
                  <li><a href="shop.html">style videos</a></li>
                </ul> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col2"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
            <div class="col1"></div>
          </div>
            </div>
        </li>

        <li><a class="color10" href="#">About Us</a></li>
       </ul>
       <div class="clear"></div>
      </div>
       </div>   

<div class= "container">
<% flash.each do |key, message| %>
  <div class="alert alert-<%= key %>">
  <%= message %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
